body {
	background-color: #ffffff;
	margin-top: 80px;
	margin-right: 220px;
	margin-left: 220px;
	margin-bottom: 150px;
}

.headline {
	color: #14c6ce;
	font-size: 50px;
	font-family: Arial, serif;
	text-align: center;
	text-transform: uppercase;
	width: 100%;
}


p {
	color: #666666;
	font-weight: bold;
	text-decoration: underline;
}

.tables {
	width: 100%;
	text-align: center;
	padding: 10px;
}

ul {
	list-style-type: circle;

}

.subheaders {
	background: #FFFFDB;
	color: #000000;
	font-weight: bold;
	text-decoration: underline;
}

a {
	text-decoration: none;
	text-transform: lowercase;
}

#text {
	color: #000000;
	
}

a:link {
	color: #000000;
}

a:visited {
	color: #666666;
}

a:hover {
	color: #666666;
}
a:active {
	color: #666666;
	}
}